
# ignore node files and logs
node_modules
*.logs
*.log

# ignore .git and .cache folders
.git
.cache

# ignore .git and .cache folders
.git
.cache

# ignore all *.class files in all folders, including build root
**/*.class

# ignore all markdown files (md) beside all README*.md other than README-secret.md
*.md
!readme*.md
readme-secret.md